{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
<footer class="footer">
    <div class="footer-banner">
        <p><b>ДОПОМАГАЮЧИ ІНШИМ,</p>
        <p>МИ ЗМІНЮЄМО СВІТ</b></p>
    </div>

    <div class="footer-content">
        <div class="footer-col-left">
            <h4><b>ІНФОРМАЦІЯ</b></h4>
            <p>
                Ми створюємо платформу, яка об'єднує людей, що потребують допомоги, 
                з волонтерами. 
            </p>
            <p>
                Наша мета — зробити допомогу швидкою, доступною та 
                організованою. 
            </p>
            <p>
                Ми віримо, що навіть невеликі дії можуть змінювати світ.
            </p>
        </div>

        <div class="footer-col-right">
            <h4><b>ЗВ'ЯЖІТЬСЯ З НАМИ</b></h4>
            <p>✉ helpbridge@gmail.com</p>

            
        </div>
    </div>
</footer>